html,body { height:90%; }

body {
  overscroll-behavior: contain;
}

#cloneProgress {
  width: 100%;
  background-color: #ddd;
}

.tab-pane{
  overflow-y:scroll;
  height: 80%;
  width: 100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

td {
  word-wrap: break-word;
  max-width: 400px;
}

.rating {
  font-size: 75px;
}

#logo {
  vertical-align: text-top;
}