html,body { height:90%; }

#cloneProgress {
  width: 100%;
  background-color: #ddd;
}

.tab-pane{
  overflow-y:scroll;
  height: 80%;
  width: 100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

td {
  word-wrap: break-word;
  max-width: 400px;
}